tests
/node_modules
/.pnp
.pnp.js
/coverage
/out/
/build
.DS_Store
_.pem
npm-debug.log_
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
.env.development
.env.production
.env.staging
.env.testing
\*.tsbuildinfo
/test-results/
dist
yarn.lock
.eslintignore
.eslintrc
.github
.prettierrc
package-lock.json
package.json
README.md
tsconfig.json
docker-compose.yml
.editorconfig